# g00pchii.github.io

body{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 65px;
  font-family: 'Press Start 2P', cursive;
  color:  #16fdf8;
  background-color: white;
}

h3 {
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color:  #fbfb93;
  background-color: white;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: #7224b3;
}

div {
  background-color: white;
  }
